@model PagedList.IPagedList<LeagueAssistWeb.Models.PlayerListViewModel>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<form id="form1" action=@Url.Action("Index", new {
                       sortOrder = ViewBag.CurrentSort, currentNazivFilter = ViewBag.NazivFilter,
                       currentKraticaFilter = ViewBag.KraticaFilter,
                       currentErasmusKodFilter = ViewBag.ErasmusKodFilter, currentURLFilter = ViewBag.URLFilter })
      method="get">

    @{
        ViewBag.Title = "Popis igrača";
    }

    <h2>@ViewBag.Title</h2>
    <hr />
    <br />

    <table class="table table-hover">
        <thead style="border-bottom:solid; border-bottom-color:darkgray">
            <tr style="border-bottom: none">
                <th class="col-xs-4" style="border-bottom: none">
                    Ime
                </th>
                <th class="col-xs-4" style="border-bottom: none">
                    Prezime
                </th>
                <th class="col-xs-1" style="border-bottom: none;text-align: right">
                </th>
            </tr>
        </thead>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr class="table-hover">
                    <td>
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td align="right">
                        <a href="@Url.Action("EditPlayer", new { id = item.getId() })" style="margin-right:10px">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <span class="sr-only">Uredi</span>
                        </a>
                        <a href="@Url.Action("EndPlayerContract", new { id = item.getId() })">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span class="sr-only">Obriši</span>
                        </a>
                    </td>
                </tr>
            }
        }
    </table>

    <br />
    <p>
        <div class="form-group">
            <div class="col-xs-6" align="left">
                <b>Prikaz @Html.DropDownList("pageItems", ViewData["ItemsPerPage"] as SelectList, htmlAttributes: new { @class = "input-sm", @style = "width:65px; height:25px" }) po stranici</b>
            </div>
            <div class="col-xs-4" align="right">
                <a href="@Url.Action("RegisterExistingPlayerSearch")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Registriraj postojećeg igrača
                </a>
            </div>
            <div class="col-xs-2" align="right">
                <a href="@Url.Action("RegisterNewPlayer")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Registriraj novog igrača
                </a>
            </div>
        </div>
    </p>
    <br />
    <br />
    <div align="center">
        <div style="display:inline-block">
            @Html.PagedListPager(Model, page => Url.Action("Index", new
       {
           page,
           pageItems = ViewBag.CurrentPageSize
       }))
            Prikazano je @((Model.TotalItemCount == 0) ? 0 : (Model.PageNumber - 1) * Model.PageSize + 1)
            - @(Model.PageNumber * Model.PageSize > Model.TotalItemCount ? Model.TotalItemCount : (Model.PageNumber * Model.PageSize)) od ukupno @Model.TotalItemCount igrača
        </div>
    </div>
</form>

<script type="text/javascript">
  $(function(){
      $('#pageItems').change(function () {
      $('#form1').submit();
    });
  });
</script>