@model LeagueAssistWeb.Models.PlayerDetailsViewModel

@{
    ViewBag.Title = "Uredi podatke o igraču";

    var gr = TempData["Error"];
    var msgErr = "";
    if (gr != null)
    {
        msgErr = gr.ToString();
    }
}

<h2>@ViewBag.Title</h2>
<hr />
<br />

@if (!string.IsNullOrWhiteSpace(msgErr))
{
    <div class="alert alert-danger alert alert-dismissible" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        @msgErr
    </div>
}

@using (Html.BeginForm("EditPlayer", "Player", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="col-sm-12 panel-heading clearfix">
                <span class="col-sm-6"><b>Podaci o igraču</b></span>
                <span class="col-sm-6 text-right">
                </span>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <table class="table table-borderless" style="border-top: none">
                        <tr>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Ime:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.HiddenFor(model => model.player.Id)
                                @Html.EditorFor(model => model.player.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Email:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.EditorFor(model => model.player.Email, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="left" class="col-xs-4" style="border-top: none"></td>
                        </tr>
                        <tr>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Prezime:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.EditorFor(model => model.player.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Telefon:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.EditorFor(model => model.player.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="left" class="col-xs-4" style="border-top: none"></td>
                        </tr>
                        <tr>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Datum rođenja:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.EditorFor(model => model.player.BirthDate.ToShortDateString(), new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="left" class="col-xs-2" style="border-top: none"></td>
                            <td align="right" class="col-xs-2" style="border-top: none"></td>
                            <td align="right" class="col-xs-4" style="border-top: none"></td>
                        </tr>
                        <tr>
                            <td style="border-top:none" />
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<br />

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="col-sm-12 panel-heading clearfix">
                <span class="col-sm-6"><b>Podaci o ugovoru</b></span>
                <span class="col-sm-6 text-right">
                </span>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <table class="table table-borderless" style="border-top: none">
                        <tr>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Plaća (god.):</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.HiddenFor(model => model.contract.Id)
                                @Html.EditorFor(model => model.contract.AnnualSalary, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Broj na dresu:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.EditorFor(model => model.contract.NumberOnShirt, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="left" class="col-xs-4" style="border-top: none"></td>
                        </tr>
                        <tr>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Vrijedi od:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.EditorFor(model => model.contract.DateFrom.ToShortDateString(), new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Vrijedi do:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.EditorFor(model => model.contract.DateTo.ToShortDateString(), new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="left" class="col-xs-4" style="border-top: none"></td>
                        </tr>
                        <tr>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Stranac:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.EditorFor(model => model.contract.Foreigner, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="left" class="col-xs-2" style="border-top: none"></td>
                            <td align="right" class="col-xs-2" style="border-top: none"></td>
                            <td align="right" class="col-xs-4" style="border-top: none"></td>
                        </tr>
                        <tr>
                            <td style="border-top:none" />
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<br />

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="col-sm-12 panel-heading clearfix">
                <span class="col-sm-6"><b>Podaci o lječnčikom</b></span>
                <span class="col-sm-6 text-right">
                </span>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <table class="table table-borderless" style="border-top: none">
                        <tr>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Vrijedi od:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.HiddenFor(model => model.healthCheck.Id)
                                @Html.EditorFor(model => model.healthCheck.FromDate.ToShortDateString(), new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Vrijedi do:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.EditorFor(model => model.healthCheck.ToDate.ToShortDateString(), new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td align="left" class="col-xs-4" style="border-top: none"></td>
                        </tr>
                        <tr>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Napomena:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Html.TextAreaFor(model => model.healthCheck.Remark, new { @class = "form-control", @rows = "8" })
                            </td>
                            <td align="left" class="col-xs-2" style="border-top: none"></td>
                            <td align="right" class="col-xs-2" style="border-top: none"></td>
                            <td align="right" class="col-xs-4" style="border-top: none"></td>
                        </tr>
                        <tr>
                            <td style="border-top:none" />
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<p>
    <div class="form-group">
        <div class="col-xs-12" align="right">
            <input type="submit" value="Spremi" class="btn btn-success" />
        </div>
    </div>
</p>
<br />
}

<div>
    @Html.ActionLink("Povratak na popis", "Index")
</div>
